.airtags_map { 
  height: 100vh;
  width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
    background-color: #1c1c1e;
    color: #ffff;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    }

  .custom-popup, .leaflet-popup-tip {
    background: #1c1c1e;
    border: none;
    box-shadow: none;
    opacity: 0.9;
    }

#airmap {
  position: absolute;
  z-index: 1;
}

.button {
  background-color:cadetblue;
  color: white;
  margin: 15px;
  border-radius: 20px;
  font-family: Roboto;
  padding: 10px;
}

.sidebar {
  background-color: #000000CC;
  backdrop-filter: blur(10px);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0px 0px 15px 15px;
}

.airlist {
  overflow-y: scroll;
  padding: 5px;
}

@media (max-width: 768px ) {
  .sidebar {
    width: 100%;
  }

  .airlist {
    max-height: 300px;
  }
}

.emoji-tooltip {
  background-color: #00000000;
  border: 0px solid #00000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0);
  font-size: 50px;
  align-items: center;
}